.pendiente {
    color: red;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}



.img{
  width: 100%;
  height: 100%;
  background-image: url(./FrontEnd/img/banner.jpg);
}

